---
import Layout from '../layouts/Layout.astro';
import { Card } from   '../components/Card';
import  Chatbox  from '../components/Chatbox';
---

<Layout title="Major Mentor">
	<div class="w-full h-full bg-ucfblack">
        <div class="w-9/12 mx-auto p-4 flex flex-col justify-center">
            <div>
                <Card client:load />
            </div>
            <div>
                <Chatbox client:load/>
            </div>
        </div>
        
    </div>

</Layout>
