---
import Layout from '../layouts/Layout.astro';
import { Card } from   '../components/Card';
---

<Layout title="Major Mentor">
	<div class="w-screen h-screen bg-ucfblack">
        <div class="w-9/12 mx-auto p-4 grid md:grid-cols-2 place-items-center">
            <div>
                <Card course="Computer Science" image="https://www.fau.edu/engineering/eecs/images/banner-cybersecurity-2-high-res.jpeg"/>
                
            </div>
            <div>
                <Card course="Computer Science" image="https://www.fau.edu/engineering/eecs/images/banner-cybersecurity-2-high-res.jpeg"/>
            </div>
            
        </div>
        
    </div>

</Layout>
